/*Fuentes*/
@font-face {
    font-family: "yanone";
    src: url("../fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("../fonts/finger.ttf");
}

@font-face {
    font-family: "chewy";
    src: url("../fonts/Chewy.ttf");
}

/*Estilos Generales*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
     background: url("../img/pattern.png");
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}

/*Header*/
#pre{
    width: 100%;
    height: 50px;
    background: url("..//img/patron.jpg");
}

header{
    display: block;
    width: 100%;
    height: 95px;
    background: url("../img/header.svg");
    position: fixed;
    text-transform: uppercase;
    font-family: "chewy";
}

header ul{
    display: block;
    width: 55%;
    height: inherit;
    margin: 0px auto;
}

header li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: black;
    transition: all 300ms;
}

header a:hover{
    background: white;
    height: 60px;
    border-radius: 200px;
}

header ul:hover{
height: 10px;
}

#logo{
    font-family: "finger";
    font-size: 23px;
}

header #logo a:hover{
    background: transparent;
}

/*Contenedor*/

#content{
    min-height: 500px;
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px black;
    background: rgb(255, 255, 255, 0.7);
    padding-top: 120px;
}

/*Footer*/

footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.5);

}